USE [WorkDB]
GO
/****** Object:  Table [dbo].[ApplicantFunctor_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicantFunctor_tbl](
	[ApplicantFunctorID] [int] IDENTITY(1000,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[ApplicantID] [nvarchar](50) NULL,
	[FunctorID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_2_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_2_tbl](
	[AssetID] [int] IDENTITY(1379,1) NOT NULL,
	[Building] [nvarchar](50) NULL,
	[Block] [nvarchar](5) NULL,
	[Floor] [decimal](4, 1) NULL,
	[Entrance] [nvarchar](13) NULL,
	[Location] [nvarchar](50) NULL,
	[MechSystem] [nvarchar](40) NULL,
	[AssetName] [nvarchar](45) NULL,
	[AssetNumber] [int] NULL,
	[Specifications] [nvarchar](200) NULL,
	[PropertyCode] [nvarchar](10) NULL,
	[SerialNumber] [nvarchar](15) NULL,
	[FolderPath] [nvarchar](180) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_Task_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Task_tbl](
	[AssetTaskID] [int] IDENTITY(1000,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[AssetID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_tbl](
	[AssetID] [int] IDENTITY(1000,1) NOT NULL,
	[Building] [nvarchar](50) NOT NULL,
	[Block] [nvarchar](5) NULL,
	[Floor] [nvarchar](20) NOT NULL,
	[Entrance] [nvarchar](1) NULL,
	[Location] [nvarchar](50) NULL,
	[MechSystem] [nvarchar](40) NULL,
	[AssetName] [nvarchar](30) NOT NULL,
	[AssetNumber] [int] NULL,
	[Specifications] [nvarchar](200) NULL,
	[PropertyCode] [nvarchar](10) NULL,
	[SerialNumber] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetNames_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetNames_tbl](
	[AssetNameID] [int] IDENTITY(1000,1) NOT NULL,
	[AssetName] [nvarchar](45) NOT NULL,
	[MechSystemID] [int] NOT NULL,
	[FolderPath] [nvarchar](180) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer_tbl](
	[BuyerID] [int] IDENTITY(100,1) NOT NULL,
	[BuyerName] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder_tbl](
	[FolderID] [int] IDENTITY(1000,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[FileName] [nvarchar](180) NULL,
	[FolderPath] [nvarchar](180) NULL,
	[AllowedToCopyFiles] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow_tbl](
	[FollowID] [int] IDENTITY(1000,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DueDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[Duration] [nvarchar](20) NOT NULL,
	[Priorities] [nvarchar](20) NULL,
	[LastPriority] [nvarchar](20) NULL,
 CONSTRAINT [PK_Follow_tbl] PRIMARY KEY CLUSTERED 
(
	[FollowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MechSystems_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MechSystems_tbl](
	[MechSystemsID] [int] IDENTITY(1000,1) NOT NULL,
	[MechSystem] [nvarchar](50) NULL,
	[assetName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons_tbl](
	[PersonID] [int] IDENTITY(100,1) NOT NULL,
	[PersonName] [nvarchar](60) NOT NULL,
	[OfficeName] [nvarchar](40) NULL,
	[WorkTellNumber1] [nvarchar](15) NULL,
	[WorkTellNumber2] [nvarchar](15) NULL,
	[WorkTellNumber3] [nvarchar](15) NULL,
	[MobileTellNumber1] [nvarchar](15) NULL,
	[MobileTellNumber2] [nvarchar](15) NULL,
	[MobileTellNumber3] [nvarchar](15) NULL,
	[Address] [nchar](150) NULL,
 CONSTRAINT [PK_Tell_tbl] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Request_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Request_tbl](
	[RequestID] [int] IDENTITY(1000,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[RequestNumber] [smallint] NOT NULL,
	[RegisterNumber] [smallint] NULL,
	[RequestDate] [datetime] NOT NULL,
	[Buyer] [nvarchar](20) NULL,
	[Status] [nvarchar](25) NOT NULL,
	[FundingDate] [datetime] NULL,
 CONSTRAINT [PK_Purchase_Request_tbl] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Set_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Set_tbl](
	[SetID] [int] IDENTITY(1000,1) NOT NULL,
	[StartWorkTime] [time](7) NOT NULL,
	[restTimeStart] [time](7) NOT NULL,
	[restTimeEnd] [time](7) NOT NULL,
	[EndWorkTime] [time](7) NOT NULL,
	[IgnoreTimeSettings] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_FunctorID_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_FunctorID_tbl](
	[ID] [int] NULL,
	[taskId] [int] NULL,
	[FunctorID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeDate_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeDate_tbl](
	[TimeDateID] [int] IDENTITY(1000,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[Submit_Date] [datetime] NOT NULL,
	[Submit_Time] [time](7) NOT NULL,
	[Priorities] [nvarchar](20) NULL,
	[FixedDueTime] [int] NULL,
	[Durationtime] [nvarchar](20) NULL,
	[DueDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[Due_Date] [datetime] NULL,
	[Due_Time] [time](7) NULL,
	[End_Date] [datetime] NULL,
	[End_Time] [time](7) NULL,
	[Finish_DateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tsk_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tsk_tbl](
	[TaskID] [int] IDENTITY(1000,1) NOT NULL,
	[TaskTtl] [nvarchar](max) NULL,
	[Submit_Date] [datetime] NULL,
	[Submit_Time] [time](7) NULL,
	[FixedDueTime] [int] NULL,
	[Due_Date] [datetime] NULL,
	[Due_Time] [time](7) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Priorities] [nvarchar](20) NULL,
	[End_Date] [datetime] NULL,
	[End_Time] [time](7) NULL,
	[Durationtime] [nvarchar](20) NULL,
	[FileName] [nvarchar](180) NULL,
	[FilePath] [nvarchar](180) NULL,
	[tskType] [nvarchar](20) NULL,
	[Complited] [int] NULL,
	[DueDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[AssetID] [int] NULL,
	[ApplicantID] [int] NULL,
	[FunctorID] [int] NULL,
	[RequestID] [int] NULL,
	[Temporary] [int] NULL,
	[IsConsiderableAction] [nvarchar](5) NULL,
 CONSTRAINT [PK_Tsk_tbl] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tsk_temp_tbl]    Script Date: 14/05/1405 12:25:57 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tsk_temp_tbl](
	[TaskID] [int] NOT NULL,
	[TaskTtl] [nvarchar](max) NOT NULL,
	[Descriptions] [nvarchar](max) NOT NULL,
	[tskType] [nvarchar](20) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tsk_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Tsk_tbl_Tsk_tbl] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tsk_tbl] ([TaskID])
GO
ALTER TABLE [dbo].[Tsk_tbl] CHECK CONSTRAINT [FK_Tsk_tbl_Tsk_tbl]
GO
